*
{
    margin: 0;
    padding: 0;
}

ul
{
    display: flex;
    justify-content: flex-end;
}
li
{
    list-style: none;
    padding: 15px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
a:hover
{
    text-decoration: underline;
}
img
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
}
.logo
{
    width: 250px;
    height: 250px;
    
}
.image
{
    display: flex;
    justify-content: center;
}
#png
{
    display: flex;
    align-items: flex-start;
}
#recherche
{
    padding: 15px;
    color: lightgrey;
}
.search
{
    width: 500px;
    height: 45px;
    border: 1px solid #d6d9dd;
    border-radius: 25px;
    margin: 0 auto;
}
.note
{
    justify-content: center;
    display: flex;
}
.traduction
{
    justify-content: center;
    display: flex;
}
.notes
{
    padding: 7px;
    background-color: #d6d9dd;
    margin: 5px;
    margin-top: 20px;
}
.traductions
{
    font-size: 13px;
    margin-top: 50px;
}
#traductions
{
    font-size: 13px;
    color: blue;
    
    word-spacing: 15px;
}
footer
{
    display: flex;
    background-color: #d6d9dd;
    margin-top: 100px;
}
.foot_left
{
    width: 55%;
}
.foot_right
{
    width: 45%;
}
#left
{
    display: flex;
    justify-content: flex-start;
}